body {
    font-family: 'roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 80%;
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    #btn {
        cursor: pointer;
        width: 205px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: black;
        color: white;
        margin: auto;
        margin-bottom: 50px;
    }
}

#listUsers {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    .user {
        width: 280px;
        height: 326px;
        border-radius: 8px;
        flex-direction: column;
        display: flex;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.08);
        margin: 10px;
    }
}

.user {
    img {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px inset;
        border-radius: 5px 5px 0px 0px;
        object-position: 0px -50px;
    }
    ul {
        width: 100%;
        background-color: #fff;
        margin: 0;
        padding-left: 0;
        position: absolute;
        bottom: 10;
        box-shadow: 0 -10px 89px 84px #fff;
        display: flex;
        justify-content: end;
        flex-direction: column;
        height: 130px;
        li {
            display: flex;
            list-style: none;
            padding-right: 20px;
            padding-left: 20px;
            font-weight: 400;
            margin-left: 5px;
            height: 35px;
            align-items: center;
        }
    }
    h3 {
        z-index: 1;
        position: absolute;
        top: 167px;
        left: 25px;
    }
}

ul {
    li {
        svg {
            margin-right: 10px;
        }
    }
}

.addUser {
    width: 280px;
    height: 326px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: 1px dashed #00000029;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}